<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.davis.dao.UserMapper">
    <select id="getUserList" resultType="com.davis.pojo.User" >
        select * from mybatis.user
    </select>
    <select id="getUserByID"  parameterType="int" resultType="com.davis.pojo.User">
        select * from mybatis.user where id = #{id}
    </select>

    <select id="getUserByID2"  parameterType="map" resultType="com.davis.pojo.User">
        select * from mybatis.user where id = #{id2};
    </select>
<!--对象中的属性可以直接取出来-->
    <insert id="addUser" parameterType="com.davis.pojo.User">
        insert into mybatis.user(id, name, pwd) values(#{id}, #{name}, #{pwd});
    </insert>

    <update id="updateUser" parameterType="com.davis.pojo.User">
        update mybatis.user set name=#{name}, pwd=#{pwd} where id=#{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id=#{id};
    </delete>

    <insert id="addUser2" parameterType="map">
        insert into mybatis.user(id,name,pwd) values(#{userid},#{userName},#{userPwd});
    </insert>
    
    <select id="getUserLike" resultType="com.davis.pojo.User">
<!--        select * from mybatis.user where name like #{value};-->
        select * from mybatis.user where name like "%"#{value}"%";
    </select>

</mapper>